{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static','css/gras-item.css')}}"/>
{{=student_grid}}
<br><br>
{{=formcsv}}
{{#=B(str(request.args))}}
<script>
    // si on est en mode creation, on cache la case à cocher permettant de specifier le statut "logged"
    {{ if len(request.args) > 1:}}
    {{ if request.args[0] == 'new':}}
      $("#etudiants_logged__row").hide();
    {{pass}}
    {{pass}}
    // on cache le menu export car malgré le json=False dans mygrid, ce menu apparaît quand même, bug ??
    $(".w2p_export_menu").hide();
    // gestion de l'import CSV
    $("input[value='importer']").click(function(e){
        fichier = $("input[name='csvfile']").val();
        if (fichier.length==0)
        {
            alert("Choisissez un fichier");
            e.preventDefault();
        }
        else
            $("form").trigger('submit');
    })
    input_select_del = $(".web2py_table_selectable_actions > input");
    input_select_del.addClass("button btn btn-default btn-secondary");
    // si une liste d''etudiants est présente
    if ($("form").length == 3)
    {
        $("form").eq(1).append('<BR>','{{=SPAN(XML("Avec la s&eacute;lection : "),_id="_with_select")}}',input_select_del,'<BR>');
        $("th[class='']").eq(0).html("<input type='checkbox' id='_select_all' />");
    }
    $("#_select_all").click(function(){
    _status = $(this).prop('checked');
    if (_status)
    {
        $("input[name='records']").prop("checked",true);
        $("input[name='records']").parent().parent().removeClass("normal_ligne").addClass("gras_ligne");
        $("#_with_select").removeClass("normal_ligne").addClass("gras_ligne");
    }    
    else
    {
        $("input[name='records']").prop("checked",false);    
        $("input[name='records']").parent().parent().removeClass("gras_ligne").addClass("normal_ligne");
        $("#_with_select").removeClass("gras_ligne").addClass("normal_ligne");
    }
    });
    /* on change le texte en gras quand une ligne est selectionnee */
    /* et on change en gras la phrase 'Avec la sélection' */
    $("input[name='records']").click(function(){
       _status = $(this).prop('checked');

       nb_select = $("input[name='records']:checked").length;
       nb_student = $("input[name='records']").length;
        if (_status)
       {
           $(this).parent().parent().removeClass("normal_ligne").addClass("gras_ligne");
           $("#_with_select").removeClass("normal_ligne").addClass("gras_ligne");
           if (nb_select == nb_student)  $("#_select_all").prop('checked','true');
       }
       else
       {
          $(this).parent().parent().removeClass("gras_ligne").addClass("normal_ligne");
          $("#_select_all").prop('checked',false);
          nb_select = $("input[name='records']:checked").length;
          if (nb_select == 0)
          {
              $("#_with_select").removeClass("gras_ligne").addClass("normal_ligne");
              $("#cat_to_move").prop('checked',false);
          }
       }
    });
</script>
